<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>

<h1>User List</h1>

<a href="/create">+ Create new User</a>

<hr>

<table Border="1" cellpadding="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.firstName}"></td>
        <td th:text="${u.lastName}"></td>
        <td th:text="${u.email}"></td>
        <td>
            <a th:href="@{|/${u.id}|}">View</a>
            |
            <a th:href="@{|/${u.id}/edit|}">Edit</a>
            |
            <form th:action="@{|/${u.id}/delete|}" method="post" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
